.textoDeApresentacao{
    font-size: 20px;
    color: black;
    margin: 100px;
}

.containerTextoApresentacao{
    margin-top: 150px;
}

body{
    background: linear-gradient(to bottom, grey, purple,red);
}